{% extends 'base.html' %}
{% block head %} 

{% endblock %}

{% block body %} 

<div style="text-align: center;">
    <h3>Available models</h3>
    <form action = "/model" method = "POST" enctype="multipart/form-data" target="_self">    
        <input style="margin-right: 1cm;" class="btn" type="submit" name="submit_button" value="Decision Tree">
        <input style="margin-right: 1cm;" class="btn" type="submit" name="submit_button" value="KNN">
        <input class="btn" type="submit" name="submit_button" value="SVM">
    
    </form>
</div>
{% endblock %}