{% extends 'base.html' %}
{% block head %} 
<h2 style="color: black; text-align: center;">Manual Data Preprocessing </h2>
<h2>Dataset</h2>
{% endblock %}

{% block body %} 
{{ data_var|safe}}
<div style="text-align: center;">
    <form action = "/preprocess" method = "POST" enctype="multipart/form-data" target="_self" >    
        <br><br>
        <label>Enter target label </label>
        <input type="text" id="TargetLabel" name="TargetLabel" required> <br><br>
        <br><br>

        <label>Remove features </label><br>
        <input type="text" id="ColumnsRemove" name="ColumnsRemove"> <br><br>

        <label>Handle missing data</label><br>
        <input type="radio" id="Deletion" name="MissingData" value="Deletion">
        <label for="Deletion">Deletion</label>
        <input type="radio" id="Imputation" name="MissingData" value="Imputation">
        <label for="Imputation">Imputation</label>
        <input type="radio" id="None" name="MissingData" value="None">
        <label for="None">None</label><br><br>

        <label>Handle outliers</label>
        <input type="radio" id="IQR" name="Outlier" value="IQR">
        <label for="OverSample">IQR</label>
        <input type="radio" id="None" name="Outlier" value="None">
        <label for="None">None</label><br><br>
    
        <label>Handle imbalanced dataset</label><br>
        <input type="radio" id="UnderSample" name="ImbalanceData" value="UnderSample">
        <label for="UnderSample">Under Sampling</label>
        <input type="radio" id="OverSample" name="ImbalanceData" value="OverSample">
        <label for="OverSample">Over Sampling</label>
        <input type="radio" id="None" name="ImbalanceData" value="None">
        <label for="None">None</label><br><br>
    
        <label>Encoding</label><br>
        <label for="LabelEncoding">Columns for label encoding</label>
        <input type="text" id="LabelEncoding" name="LabelEncoding"><br>
        <label for="OneHotEncoding">Columns for one hot encoding</label>
        <input type="text" id="OneHotEncoding" name="OneHotEncoding"> <br><br>
    
        <label>Feature Selection</label><br>
        <input type="radio" id="Corr" name="FeatureSelection" value="Corr">
        <label for="OverSample">Correlation Based</label>
        <input type="radio" id="None" name="FeatureSelection" value="None">
        <label for="None">None</label><br><br>

        <label>Feature Scaling</label><br>
        <input type="radio" id="Normalization" name="ScaleData" value="Normalization">
        <label for="Normalization">Normalization</label>
        <input type="radio" id="Standardization" name="ScaleData" value="Standardization">
        <label for="Standardization">Standardization</label>
        <input type="radio" id="None" name="ScaleData" value="None">
        <label for="None">None</label><br><br>
    
        <input class="btn" type="submit" value="Launch">
    
    </form>
</div>

{% endblock %}